body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #2089ba;
  color: white;
  padding: 10px 0;
  text-align: center;
}
nav {
  margin: 10px 0;
  text-align: center;
}
nav a {
  margin: 0 40px;
  text-decoration: none;
  color: #2089ba;
  font-weight: bold;
  

}
nav a:hover {
  text-decoration: underline;
}
.content {
    padding: 48px;
    margin: 24px auto; 
    font-style: none;
    max-width: 60%;
    border-radius: 8px;
    display: flex; 
    justify-content: center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.hidden {
  display: none;
}

.container {
    text-align: center;

  }


h2, p{
    font-size: small;

}

footer {
  color: white;
  text-align: center;
  padding: 5px 0;
  bottom: 0;
  width: 100%;
  font-size:small;
  background-color: #2089ba;
}
footer p {
  margin: 3px 0;
}
footer .authors {
  margin-top: 5px;

}
